.vscode
.DS_Store

src/**/*.a
!src/macos/lib/libenet.a
src/**/*.gch
src/**/*.o
src/**/*.orig
src/**/*.tmp
src/sauer_client
src/sauer_server
src/Makefile.bak

patch_drafts

bin64/p1xbraten*
bin_unix/p1xbraten*
sauerbraten.app/Contents/MacOS/p1xbraten*
data/p1xbraten/*.gz

**/EasyAntiCheat/Certificates
integritytool/anticheat_integritytool
integritytool/base_private.key
integritytool/base_public.cer
secrets.env
encrypt_credentials.go
src/anticheat/*credentials*
src/anticheat/key*
dist

Dockertrigger
!/**/.gitkeep
