src/**/*.a
src/**/*.gch
src/**/*.o
src/**/*.orig
src/sauer_client
src/sauer_server
src/Makefile.bak
patch_drafts
bin/*
bin64/*
bin_unix/*
sauerbraten.app/Contents/MacOS/*
!/**/.gitkeep
data/p1xbraten/*gz
